<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index" class="hover">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>

        <article class="one">
            <div class="w">
                <div class="text">
				( 广大患者朋友注意:万氏筋骨贴近期多次接到用户投诉,指在淘宝等平台网站购买的产品并非正品!严正声明:万氏筋骨贴从未在任何网站上进行直接销售，也从未授权任何公司或个人在网上进行销售万氏筋骨贴产品。对于用户自行在淘宝网、天猫商场等网络购买的产品，一切服务及产品质量问题万氏筋骨贴概不负责.如有疑问请拨打热线:0371-53378120进行鉴别.请认准官方指定网站:www.kyuoo.com 谨防上当受骗! )<br>
                    调查显示，随着我国人口的老龄化，我国骨性关节病（颈椎病、腰椎间盘突出症、肩周炎、膝关节骨性关节炎、类风湿性关节炎、
                    强直性脊柱炎、股骨头缺血性坏死）发病率居高不下， 并有加速蔓延的趋势。据统计我国发病人数约为一亿五千万之多，
                    该病的致残率可高达<span class="color_r">53%</span>。专家疾呼,不能让骨关节病再肆无忌惮地蔓延下去,积极预防和抑
                    制骨关节病，关系到保障和提高我们每一个人的健康生活质量问题，对提高全民健康素质有着重要意义及现实意义。
                </div>
                <div class="img">
                    <img src="./public/images/zu1.png" alt="警惕腰背疼痛">
                </div>
            </div>
        </article>

        <article class="two">
            <div class="w">
                <div class="img">
                    <img src="./public/images/ren.png" alt="忍受疼痛折磨">
                </div>
                <h2 class="top_title new_family" id="cp">万氏筋骨贴</h2>
                <div class="img">
                    <img src="./public/images/tu1.png" alt="万氏筋骨贴效果">
                </div>
            </div>
        </article>

        <article class="good_fw">
            <div class="w">
                <div class="img">
                    <img src="./public/images/zu14.png" alt="">
                </div>
            </div>
        </article>

        <article class="three">
            <div class="w">
                <div class="top clearfix">
                    <div class="img fl">
                        <img src="./public/images/tu2.png" alt="">
                    </div>
                    <div class="text fl">
                        <img src="./public/images/gufang.png" alt="">
                        <p>
                            国务院特补专家陈思敬主任医师根据祖传古方，结合万氏家族《万氏家钞济世良方》和《万密斋医学全书》书中所载疗骨古方
                            大胆创新， 一改传统活血化瘀、消肿止痛之疗法，独创治骨在养髓，穴位通痹疗法和靶向溶解之法， 该产品内含大量生物
                            活性因子，能够迅速进入病变组织深部，药力直达病灶，深入骨髓，快速消除炎症粘连，从而解除对神经和脊髓的压迫。
                        </p>
                    </div>
                </div>
                <div class="bot">
                    <div class="title">
                        <img src="./public/images/yd_title.png" alt="">
                    </div>
                    <div class="text text-h">
                        <p>
                        陈思敬，50年人，出身于两代名中医世家，自小随叔父学习中医，结识姬广英老师后跟随其钻研骨病类中医理论，具有丰富的中医理论知识。
                        76年从商丘医专毕业后，79年进修于河南中医学院，2000年在中医院跟踪胞兄陈思忠专家坐诊多年，并在永城卫校门诊坐诊十余年，均得到广大患者的认可和肯定。     
                        在中医院随其胞兄坐诊期间，得其老师的言传身授，独创了自己的一套治病绝招，擅长：骨关节增生、颈椎病、腰间盘突出、风湿病、风湿热、妇科炎症、赤白带下、盆腔积液、乳腺增生、乳腺囊肿等，有着丰富的临床经验及多数治愈病例。
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <article class="four">
            <div class="w">
                <div class="main_title "><span>适用症状</span></div>
                <div class="content">
                    <ul class="clearfix">
                        <li>
                            <div class="img">
                                <img src="./public/images/wan1.png" alt="">
                            </div>
                            <div class="text">
                                <div class="title">“腰椎病”</div>
                                <p>
                                    腰椎间盘突出、腰椎骨质增生、椎管狭窄、椎体滑脱等。患者常常感到腰痛，坐骨神经痛，腿脚麻木胀痛。
                                    压迫神经会引起腰部疼痛酸困，并沿坐骨神经往一侧或双侧下肢放射，小腿常出现肿痛、麻木、发凉甚至抽筋....
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./public/images/wan2.png" alt="">
                            </div>
                            <div class="text">
                                <div class="title">“颈椎病”</div>
                                <p>
                                    专门针对颈椎间盘突出、椎管狭窄、椎体滑脱增生、肩周炎等，患者常常感到头痛、头晕、脖子僵硬、颈背疼痛，
                                    手指麻木，下肢乏力，行走困难，头晕恶心，视物模糊，握物困难，感觉障碍双下肢麻木无力等。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./public/images/wan3.png" alt="">
                            </div>
                            <div class="text">
                                <div class="title">“关节病”</div>
                                <p>
                                    退行性膝关节病，关节炎，骨刺，滑膜炎，髌骨软化，半月板损伤，股骨头坏死，患者常常感到步履蹒跚，
                                    上下楼时关节疼痛不敢使劲， 早晨起床或久坐站起时，关节僵硬，迈不动步，活动时关节有“咯吱咯吱”...
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./public/images/wan4.png" alt="">
                            </div>
                            <div class="text">
                                <div class="title">“股骨头坏死”</div>
                                <p>
                                    早期患者髋关节活动正常或轻微丧失，表现为向某一方向活动障碍，特别是内旋。跛行早期患者由于股骨头
                                    内压增高，可有间歇性跛行，休息后好转， 晚期患者由于股骨头塌陷及髋关节半脱位可有持续性跛行...
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="btn_block clearfix">
                        <a href="javascript:;">点击咨询</a>
                        <a href="#buy">立即购买</a>
                    </div>
                </div>

            </div>
        </article>

        <article class="five">
            <div class="w">
                <div class="main_title ">
                    <span>主要成分</span>
                    <p class="small">纯天然草本精华中药萃取</p>
					<p class="small">因配方保密,以下仅做部分展示</p>
                </div>
                <div class="content">
                    <div class="img">
                        <img src="./public/images/zu3.png" alt="">
                    </div>
                    <div class="bot">
                        <div class="item item1">
                            <div class="img">
                                <img src="./public/images/tu5.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">品牌好</p>
                                <p>万氏筋骨贴，家喻户晓的知名品牌，用着放心</p>
                            </div>
                        </div>
                        <div class="item item2">
                            <div class="img">
                                <img src="./public/images/tu6.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">构造好</p>
                                <p>本品是由无纺布背衬层、凉胶层、聚乙烯 膜盖层等部分组成</p>
                            </div>
                        </div>
                        <div class="item item3">
                            <div class="img">
                                <img src="./public/images/tu7.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">通用性</p>
                                <p>上在颈椎下到踝关节，哪里疼痛贴哪里</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="six">
            <div class="w">
                <ul class="clearfix">
                    <li>
                        <div class="img">
                            <img src="./public/images/pk1.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">按摩牵引</p>
                            <p>针对局部，极短时间内有效</p>
                        </div>
                        <div class="pk">PK</div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk2.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">万氏筋骨贴</p>
                            <p>药力猛，浓度高，疗效是传统膏药的10倍。药物的十倍</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk3.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">针灸理疗</p>
                            <p>依靠外力、忽视整体</p>
                        </div>
                        <div class="pk">PK</div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk4.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">万氏筋骨贴</p>
                            <p>纯中药、见效快、不伤肠胃，无副作用</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk5.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">手术微创</p>
                            <p>手术风险大，术后恢复时间长</p>
                        </div>
                        <div class="pk">PK</div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk6.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">万氏筋骨贴</p>
                            <p>配方奇，富含多种激活骨细胞生物活性因子。愈后不易复发</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk7.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">关节置换</p>
                            <p>风险大、成本高、易引发炎症</p>
                        </div>
                        <div class="pk">PK</div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk2.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">万氏筋骨贴</p>
                            <p>专药专治、更专业</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk8.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">西药</p>
                            <p>激素含量大，依赖性强，对肝肾胃有损伤。</p>
                        </div>
                        <div class="pk">PK</div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="./public/images/pk9.png" alt="">
                        </div>
                        <div class="text">
                            <p class="title">万氏筋骨贴</p>
                            <p>内服加外用、不复发</p>
                        </div>
                    </li>
                </ul>
                <div class="btn_block">
                    <a href="javascript:;">点击咨询</a>
                    <a href="#buy">立即购买</a>
                </div>
            </div>
        </article>

        <article class="seven">
            <div class="w">
                <div class="top_title">
                    <p class="new_family">万氏筋骨贴奇方奇效</p>
                    <p>骨科类疾病患者值得信赖的老朋友</p>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <div class="img">
                                <img src="./public/images/an1.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">从吃药到注射玻璃酸钠、到做关节镜，就差换关节了</p>
                                <p>
                                    家住黄委会家属院的金大爷膝关节疼痛难忍，医生诊断是膝关节退行性变，半月板损伤，关节间隙不均匀性狭窄，
                                    滑膜发炎，关节腔积水，关节已经变形、 形成"O型"腿了。走路左摇右摆，上下楼关节疼得要命，坐久了，
                                    站起来，半天迈不动步，孙子照看不了，家务做不成，前后花费11万还要多，医生最终建议换关节"。 "儿子给了
                                    2万，女儿给了1万5，加上自己和老伴多年的积蓄共计9万，准备做手术换关节"。金大爷原计划过完节，
                                    就用这笔钱做手术，但多年老骨病最近竟出人意料的治好了。 现在金大爷再也不用那么痛苦了，是"万氏筋骨贴"
                                    解决了他的老问题。"这万氏筋骨贴是好药，是神仙药，是救命药啊!是一个朋友推荐的，自己开始还不信，
                                    但朋友坚持说这药真能治病， 就让孩子给买了十盒，谁知贴上去，过了一个晚上，第二天就有变化，感觉这药特
                                    别有劲，不到一个月，竟然能正常走路了。
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./public/images/an2.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">十年老腰椎病仨月治好了，退休老局长称赞"万氏筋骨贴"真是神！</p>
                                <p>
                                    永城退休的药监局杨老局长，2003年患L4-5、5-S1椎间盘突出、骨质增生、椎管狭窄，腰部疼痛酸困、
                                    晚上腿抽筋，后来突出物压迫坐骨神经， 并放射到下肢，腿脚麻木无力，走十几步路就要停下休息。
                                    十年来四处求医，总也治不好，最后瘫卧在床…… 迷茫绝望之时，在局里上班的学生给他 从北京捎来了20盒
                                    "万氏筋骨贴"，当时，杨老局长并没有抱太大希望，心想既然拿来了就试试吧，没想到当天按照穴位进行贴敷，
                                    第二天早上起床腰部疼痛感就减轻很多，用了三次双腿胀痛 明显减轻，两个疗程用完，能下床走路了，
                                    疼痛麻胀基本消除。五个疗程以后去公园锻炼两 个多小时都不觉得累。康复后的杨老逢人就说，"万氏筋骨贴"
                                    真神 ， 解除了我十多年的腰疼病，我愿为"万氏筋骨贴"免费代言！
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./public/images/an3.png" alt="">
                            </div>
                            <div class="text">
                                <p class="title">一个股骨头坏死老人的自述：感谢万氏筋骨贴给了我第二次生命！</p>
                                <p>
                                    我叫孙铁柱，山西太原人2009年感觉胯部酸胀、疼痛，开始以为是腰间盘突出引起的，也就没在意，后发展到走
                                    不了路。去骨伤科医院拍CT诊断为左侧股骨头坏死， 骨密度不均匀，关节间隙狭窄。医院建议做股骨头置换手术
                                    。了解到人工股骨头使用寿命只有15年左右，且费用较高，风险也大。 在我犹豫不决时在晚报上看到一个
                                    叫做"万氏筋骨贴"专门针对这个病的。我就抱着试试的态度去买了6盒，刚用了4天感觉没啥变化心里想这药难道
                                    也不行就不想用了，但是老伴劝我既然买了就用完别浪费了， 不过6盒药用完后就感觉这个药给过去用过的药完
                                    全不一样腿部的疼痛有点减轻了。我就又买了一个疗程的用完了腿完全不疼了腰也能直起来了，晚上睡觉再也没
                                    疼醒了， 后来趁着节日搞活动又买了30盒一个月后好了百分之七十。我自己也开始笑了，就开始介绍周围的人。
                                    用两个月后，自己可以去公园散步上下楼在也不疼了。我用"万氏筋骨贴" 花了四千多元， 这个钱花的太值了。
                                    现在朋友亲戚看见我问我怎么治好的我高兴的告诉他们是用"万氏筋骨贴"。 "万氏筋骨贴"给了我第二次生命，
                                    非常感谢你们!
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="bot new_family">患者的心声，铁一样的事实！</div>
                </div>
                <div class="btn_block">
                    <a href="javascript:;">点击咨询</a>
                    <a href="#buy">立即购买</a>
                </div>
            </div>
        </article>

        <article class="eight">
            <div class="w clearfix">
                <div class="img fl">
                    <img src="./public/images/good_2.png" alt="">
                </div>
                <div class="text fl">
                    <p class="color_r"><span class="phone">咨询电话：</span><span class="num">0371-53378120</span></p>
                    <p class="color_r big new_family"><span class="star">万氏筋骨贴 骨科类疾病</span>患者的福音</p>
                    <div class="bot">
                        万氏筋骨贴专门针对：腰间盘突出、颈椎病、椎管狭窄、椎体滑脱、骨质增生、股骨头坏死、退行性膝关节病、骨质增生、
                        滑膜炎、髌骨软化、半月板损伤、风湿类风湿性关节炎等骨科类疾病。40%患者24小时就能见效，80%的患者72小时症状减轻，
                        连续使用，骨刺消融钝化，突出物失水萎缩、溶解，椎间盘修复， 神经、椎管、脊髓受压解除，疼痛麻木症状消失;颈肩轻松，
                        握物有力，头晕手麻轻松改变。久治不愈的患者72小时见效， 总有效率高达98.6%。
                    </div>
                    <div class="btn_block">
                        <a href="javascript:;">点击咨询</a>
                        <a href="#buy">立即购买</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="nine">
            <div class="w" id="buy">
                <ul class="atr clearfix">
                    <li>
                        <div class="title">立即订购，您的健康选择</div>
                        <div class="content">
                            <form action="" enctype="multipart/form-data" method="post" id="userSell">
                                <ul class="frm">
                                    <li class="clearfix">
                                        <div class="ipt name fl">
										    <input type="text" name="name" id="name" value="" placeholder="请输入你的名字">
                                        </div>
                                        <div class="rdo name fl">
                                            <label for="man" class="active">
                                                <input type="radio" name="sex" id="man" value="1" checked="checked">男
                                            </label>
                                            <label for="women">
                                                <input type="radio" name="sex" id="women" value="2">女
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ipt qq">
										    <input type="number" name="qq" id="qq" placeholder="请输入你的QQ" value="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ipt phone">
										   <input type="number" name="phone" id="phone" placeholder="请输入你的电话" value="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ipt address">
										 <input type="text" name="address" id="address" value="" placeholder="请输入你的地址">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ipt meg">
										 <input type="text" name="message" id="message" placeholder="请输入你的留言" value="">
                                        </div>
                                    </li>
                                    <li class="error">
                                        <div>
                                            <span>内容不能为空</span>
                                        </div>
                                    </li>
                                    <li class="btn">
                                        <div class="ipt">
                                            <button type="button" id="submitInfor">立即购买</button>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="title">发货公告</div>
                        <div class="content">
                            <div class="animate swiper-container swiper-container-vertical" style="cursor: grab;">
                                <ul class="megs swiper-wrapper" style="transform: translate3d(0px, -350px, 0px); transition-duration: 0ms;"><li class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="10" style="height: 35px;">江西省宜春市张小姐（150****2651）订购“万氏筋骨贴”25盒  已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="0" style="height: 35px;">江苏省徐州市赵先生（132****0337）订购“万氏筋骨贴”25盒 已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="1" style="height: 35px;">山东省滕州市王小姐（156****6931）订购“万氏筋骨贴”15盒 已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="2" style="height: 35px;">河南省驻马店李小姐（155****4584）订购“万氏筋骨贴”20盒  已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="3" style="height: 35px;">河南省郑州市王先生（135****4566）订购“万氏筋骨贴”20盒  已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="4" style="height: 35px;">四川省成都市刘小姐（156****4668）订购“万氏筋骨贴”25盒  已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="5" style="height: 35px;">河南省洛阳市赵先生（157****4969）订购“万氏筋骨贴”15盒 已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="6" style="height: 35px;">四川省乐山市余小姐（151****8977）订购“万氏筋骨贴”15盒 已发货</li>
                                    <li class="swiper-slide" data-swiper-slide-index="7" style="height: 35px;">河南省郑州市王小姐（131****3659）订购“万氏筋骨贴”10盒  已发货</li>
                                    <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="8" style="height: 35px;">安微省黄山市梁先生（155****4701）订购“万氏筋骨贴”15盒  已发货</li>
                                    <li class="swiper-slide swiper-slide-active" data-swiper-slide-index="9" style="height: 35px;">广东省珠海市李先生（156****9398）订购“万氏筋骨贴”15盒  已发货</li>
                                    <li class="swiper-slide swiper-slide-next" data-swiper-slide-index="10" style="height: 35px;">江西省宜春市张小姐（150****2651）订购“万氏筋骨贴”25盒  已发货</li>
                                    <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="height: 35px;">江苏省徐州市赵先生（132****0337）订购“万氏筋骨贴”25盒 已发货</li></ul>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </article>
    </section>

    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
<script src="./public/js/fileSaver.js"></script>
    
    <script>
        $(function(){
            $('.rdo label').on("click",function(){
                $(this).addClass("active");
                $(this).siblings().removeClass("active");
            });

            $(".ipt input").on("blur",function(){
                var val = $(this).val().replace(/\s+/g,"");
                if(val){
                    $('.error').hide();
                    $('.error > div > span').text('');
                    $(this).val(val);
                }
                $(this).parent().css("border-color","#fff");
            });

            $(".ipt input").on("focus",function(){
                $(this).parent().css("border-color","#8F0000");
            })

            $("#qq").on("keyup",function(){

                var numReg =  /^[1-9][0-9]{4,10}$/g;
                var val = $(this).val().replace(/\s+/g,"");
                if(val){
                    if(val.substr(0,1) == 0){
                        $(this).val('');
                        $('.error').show();
                        $('.error > div > span').text('请输入正确的QQ号');
                    }else{
                        if(numReg.test(val)){
                            $('.error').hide();
                            $('.error > div > span').text('');
                            $(this).val(val);
                        }else{
                            $('.error').show();
                            $('.error > div > span').text('请输入正确的QQ号');
                        }
                    }
                }else{
                    $('.error').show();
                    $('.error > div > span').text('请输入正确的QQ号');
                }
            });

            $("#phone").on("keyup",function(){
                var phoneReg = /^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57]|17[678])[0-9]{8}$/;
                var val = $(this).val().replace(/\s+/g,"");
                if(val){
                    if(phoneReg.test(val)){
                        $('.error').hide();
                        $('.error > div > span').text('');
                        $(this).val(val);
                    }else{
                        $('.error').show();
                        $('.error > div > span').text('请输入正确的手机号');
                    }
                }else{
                    $('.error').show();
                    $('.error > div > span').text('手机不能为空');
                }
            });

            $('#submitInfor').click(function(){
                
                if($('#name').val()){
                    if($('#phone').val()){
                        if($('#address').val()){
                            $.ajax({
                                type:'get',
                                url:'/sellInfor',
                                data:$('form').serialize(),
                                processData:false,
                                contentType:false,
                                dataType:'json',
                                success:function(data){
                                    if(data.code === 5000){
                                        alert('信息提交成功，稍后会有客服与您确认！');
                                        location.href = '/';
                                    }else if(data.code === 500){
                                        alert(data.message);
                                    }
                                }
                            })
                        }else{
                            $('.error').show();
                            $('.error > div > span').text('请填写地址');
                        }
                    }else{
                        $('.error').show();
                        $('.error > div > span').text('请填写手机号码');
                    }
                }else{
                    $('.error').show();
                    $('.error > div > span').text('请填写你的名字');
                }
            });

            var mySwiper = new Swiper('.swiper-container', {
                autoplay: 2000,
                direction : 'vertical',
                grabCursor : true,
                height:35,
                loop:true,
                freeModeSticky:true,
            });

        });
    </script>
</body>
</html>