<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news" class="hover"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>    
        <div class="w">
            <div class="wenZ">
                <div class="wz">
                    <span class="bread-tap">
                        <a href="/index">首页</a> >
                        <a href='/news'>新闻中心</a> > 
                        <a href='./news01.html'>万氏筋骨贴：骨科类疾病可以彻底治好吗?</a>
                    </span>
                </div>
                <h1>万氏筋骨贴：骨科类疾病可以彻底治好吗?</h1>
                <div class="title-time"><span class="time">2019-01-26 14:44:05</span></div>
                <div class="content clearfix">
                    <span style="font-size:16px;">
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp;骨科疾病可以彻底治好吗?相信这是很多骨科类疾病患者非常关心的问题，治疗十八般武艺全用上了，但是效果还是反复无常。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;目前骨科类疾病常见的治疗方法无非就是吃药、手术、敷药贴。鉴于药物的副作用，没有几个患者有信心一直吃下去，而手术表面上是“彻底治好”了，但造成的永久性骨关节损伤也是伤不起的。目前比较保险的治疗就是敷膏药的同时，还要加强功能锻炼，这样结合治疗才有彻底治好的希望，而且副作用最小!</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;膏药贴早在晋魏时期的炼丹术中就已经出现，而在唐朝和宋朝的时候就已经再将膏药的制备逐渐完善，并且得到了广泛的应用。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴运用远红外线技术、中药生物低温萃取技术和中药靶向性改造技术，在临床上取得了重大的进步。</span>
                        <br/><br>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴，由纯中药制成，采用低温生物萃取技术提纯，结合远红外技术，通过穴位，快速渗透到骨病病灶，靶向性吸收，实现快速消炎、缓解神经刺激和骨磨损的症状，帮助修复受损软骨和肌腱。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴专门针对：腰间盘突出、颈椎病、椎管狭窄、椎体滑脱、骨质增生、股骨头坏死、退行性膝关节病、骨质增生、滑膜炎、髌骨软化、半月板损伤、风湿类风湿性关节炎等疾病。万氏筋骨贴”中含有大量生物活性酶， 可有效遏制关节软骨退行性病变，快速消除炎症。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴的透皮吸收机理：按照穴位贴敷，经远红外辐射快速渗透，促进血液循环和药物靶向吸收，刺激神经末梢，通过反射，扩张血管，改善周围组织营养，达到消肿、消炎的作用。同时药物在穴位处通过皮肤渗透达皮下组织，在局部产生药物浓度的相对优势，从而发挥较强的药理作用，对创伤、皮肤疾病、黏膜病变的治疗，均有防腐消炎止痛等局部作用。此外，其中刺激性强的药物，强刺激通过神经反射，可以调节肌体功能促进抗体形成，提高人体免疫力。同时，药物穿通皮肤及黏膜后，经过血管或淋巴管进入体循环，可产生全身性药物作用，达到治疗疾病的目的。传统黑膏药都是使用高温提取的制备方法，严重破坏有效成分。百草透骨贴采取低温萃取方式制成，不破坏药物里面的有效成分，药效更强劲，治疗效果更好。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴是陈思敬主任医师独创，陈思敬医师，50年人，出身于两代名中医世家，自小随叔父学习中医，结识姬广英老师后跟随其钻研骨病类中医理论，具有丰富的中医理论知识。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;“万氏筋骨贴”专门针对骨科类疾病研制而成，不怕病重，越重见效越快。“万氏筋骨贴”不以暂时止疼蒙蔽患者，而以轻松转头自由活动来检验效果，对比使用前后CT、磁共振片更能说明问题。使用万氏筋骨贴，彻底根除骨科类疾病，解决你精神上和生理上的痛苦！</span><br />
                        <br/>
                    </span>
                </div>
                <p class="f14">
                    <strong>上一篇：</strong>上一篇： 没有了 <br />

                    <strong>下一篇：</strong>下一篇： <a href='./news02.html'>万氏筋骨贴能够治疗哪些疾病</a>
                </p>
            </div>
        </div>
    </section>



    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
    
<script>
    $(function(){
       
    })
</script>
</body>
</html>