<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news" class="hover"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>    
        <div class="w">
            <div class="wenZ">
                <div class="wz">
                    <span class="bread-tap">
                        <a href="/index">首页</a> >
                        <a href='/news'>新闻中心</a> > 
                        <a href='./news?id={{ newItem }}'>买了万氏筋骨贴 你知道这些吗？</a>
                    </span>
                </div>
                <h1>买了万氏筋骨贴 你知道这些吗？</h1>
                <div class="title-time"><span class="time">2019-01-26 15:11:13</span></div>
                <div class="content clearfix">
                    <span style="font-size:16px;">
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp;1.使用前先在红肿痛部位，用75%酒精消毒，或用生姜片擦拭；如有伤口，可用稀高锰酸钾溶液洗净脓血后试干，再将折合的万氏筋骨贴 摊开，放在小火上烘软，有时因病情需要，在烘软的万氏筋骨贴 上均匀撒上一些药粉，再反复折合，摊开万氏筋骨贴 ，使药粉混入其间，以便更快、更好地发挥疗效。</span><br />
                        <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;2.贴万氏筋骨贴 应避开毛发较多处，否则一是粘不住，二是撕揭时会带起毛发引起疼痛</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;3.将万氏筋骨贴 贴好后用热水袋敷一下，以便粘贴牢靠，以确保治疗效果</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;4.如果贴万氏筋骨贴 10分钟左右局部皮肤出现丘疹、水泡，自觉瘙痒剧烈，说明对万氏筋骨贴 过敏，应立即停止贴敷，并口服抗过敏药物，局部外涂激素类软膏，进行抗过敏治疗。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;5. 一般一贴万氏筋骨贴 最长不要超过24小时，时间长了，万氏筋骨贴 不仅已经失去效用，而且还对皮肤不好。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;6.万氏筋骨贴 一旦很难取下时,可以用吹风机慢慢的给万氏筋骨贴加热,(也可以在万氏筋骨贴表面涂抹一些清水后再加热)使万氏筋骨贴再度有些软化.这样揭起来就不会对皮肤造成很大的伤害.</span><br><br>
                        <span style="font-size:16px;display: inline-block;text-align: center;width:100%;">
                            <img alt="" src="./public/images/1512251X9-0.png" style="margin: 0px auto; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; width: 580px; height: 497px;" />
                        </span><br>
                    </span>
                </div>
                <p class="f14">
                    <strong>上一篇：</strong>上一篇： <a href='./news?id={{ newItem - 1 }}'>治疗颈椎病最好的方法——万氏筋骨贴 </a> <br />
                    <strong>下一篇：</strong>下一篇： <a href='./news?id={{ newItem + 1 }}'>万氏筋骨贴效果怎么样 几小时发挥功效？</a>
                </p>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
    
<script>
    $(function(){
       
    })
</script>
</body>
</html>