<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news" class="hover"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>    
        <div class="w">
            <div class="wenZ">
                <div class="wz">
                    <span class="bread-tap">
                        <a href="/index">首页</a> >
                        <a href='/news'>新闻中心</a> > 
                        <a href='./news?id={{ newItem }}'>万氏筋骨贴所含成分及疗效？</a>
                    </span>
                </div>
                <h1>万氏筋骨贴所含成分及疗效？</h1>
                <div class="title-time"><span class="time">2019-01-26 15:07:26</span></div>
                <div class="content clearfix">
                    <span style="font-size:16px;">
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; 万氏筋骨贴，由纯中药制成，采用低温生物萃取技术提纯，结合远红外技术，通过穴位，快速渗透到骨病病灶，靶向性吸收，实现快速消炎、缓解神经刺激和骨磨损的症状，帮助修复受损软骨和肌腱。万氏筋骨贴的主要成分含有三七 、 乳香、威灵仙、藏红花、制川乌、独活 、羌活 、透骨草、蛇筋草 可知，是具有抗炎止痛的作用，该药是用于缓解股骨头坏死、骨质增生、颈椎病、腰椎病、椎间盘突出、风湿性关节炎、强直性脊椎炎、肩周炎、跌打损伤、老年性骨关节病等引起的疼痛的治疗。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴专门针对颈、腰椎间盘突出及其继发病症(椎管狭窄、椎体增生、椎体滑脱、肩周炎)，膝关节退行变、骨质增生、滑膜炎、髌骨软化、半月板损伤等骨关节疾病。万氏透骨贴的高效活性成份能够在短时间内直达病灶，对致病物质进行化解吸收，从而达到快速治愈的惊人效果。万氏筋骨贴采用现代高科技低温萃取技术提取而成，不脏不流不过敏，克服了传统膏高温熬制有效成分遭到严重破坏治表不治里的缺点，内含特异生物活性酶，能够进入病变组织发挥作用，使突出物失水萎缩，体积变小，恢复正常，水肿粘连钙化增生炎症消除，从而解除对神经的压迫,很多顽固骨病患者72小时就能见效。万氏筋骨贴能够全面解决颈椎病、膝关节病、椎间盘突出以及椎间盘突出引起的钙化粘连、骨质增生、椎管狭窄等继发症问题，这是其它物无法比拟的。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;传统膏药都是采用300℃高温提取的，有效成份遭到严重破坏，有效成份中见效慢，疗程长。不同于其他任何物和贴剂，“万氏筋骨贴”采用现代高科技低温萃取技术提取而成，不脏不流不过敏，克服了传统膏高温熬制有效成分遭到严重破坏治表不治里的缺点，内含特异生物活性酶，能够进入病变组织发挥作用，使突出物失水萎缩，体积变小，恢复正常，水肿粘连钙化增生炎症消除，从而解除对神经的压迫,很多顽固骨病患者72小时就能见效。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;万氏筋骨贴对骨科类疾病的治疗效果显著，深受广大人民的喜爱，成为骨科类患者的福音!</span>
                        <br/>
                    </span>
                </div>
                <p class="f14">
                    <strong>上一篇：</strong>上一篇： <a href='./news?id={{ newItem - 1 }}'>万氏筋骨贴能够治疗哪些疾病</a> <br />
                    <strong>下一篇：</strong>下一篇： <a href='./news?id={{ newItem + 1 }}'>治疗颈椎病最好的方法——万氏筋骨贴</a>
                </p>
            </div>
        </div>
    </section>



    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
    
<script>
    $(function(){
       
    })
</script>
</body>
</html>