<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news" class="hover"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>    
        <div class="w">
            <div class="wenZ">
                <div class="wz">
                    <span class="bread-tap">
                        <a href="/index">首页</a> >
                        <a href='/news'>新闻中心</a> > 
                        <a href='./news?id={{ newItem }}'>治疗颈椎病最好的方法——万氏筋骨贴</a>
                    </span>
                </div>
                <h1>治疗颈椎病最好的方法——万氏筋骨贴</h1>
                <div class="title-time"><span class="time">2019-01-26 15:08:15</span></div>
                <div class="content clearfix">
                    <span style="font-size:16px;">
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp;颈椎病又称颈椎综合征，是颈椎骨关节炎、增生性颈椎炎、颈神经根综合征、颈椎间盘脱出症的总称,是一种以退行性病理改变为基础的疾患。主要由于颈椎长期劳损、骨质增生，或椎间盘脱出、韧带增厚，致使颈椎脊髓、神经根或椎动脉受压，出现一系列功能障碍的临床综合征。表现为椎节失稳、松动；髓核突出或脱出；骨刺形成；韧带肥厚和继发的椎管狭窄等，刺激或压迫了邻近的神经根、脊髓、椎动脉及颈部交感神经等组织，引起一系列症状和体征。</span><br />
                        <br/>
                        <span style="font-size:16px;display: inline-block;text-align: center;width:100%;">
                            <img alt="" src="./public/images/1-1Z126150Z50-L.png" style="margin: 0px auto; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: transparent; width: 580px; height: 497px;" />
                        </span><br><br>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;随着社会的迅速发展，人们生活节奏的加快，越来越多的人受到颈椎病的困扰，如果颈椎病治疗不及时会造成相当严重的后果，因此专家提醒，对于颈椎病的治疗一定要重视!那么，颈椎病能治好吗?该如何治疗颈椎病?那么，如何有效辨别颈椎病的临床表现?我们一起来了解一下。</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;观察是否存在神经压迫症状：颈椎病患者多存在神经压迫症状，如手臂、手指麻木等，检查方法：将手臂外展水平位，伸直，头向手臂相反方向用力向外伸拉。如果手臂麻痹加剧，并延伸至手指，伴有头昏晕者，证明有压迫，颈椎病可能性大.</span><br />
                        <br/>
                        <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;缓解疼痛的现象，要从根本上治愈，还是需要专业的方法来根治的。万氏筋骨贴能快速改善患处微循环、消除无菌性炎症，增强骨细胞的新陈代谢，最终是达到治愈的效果。</span>
                        <br/>
                    </span>
                </div>
                <p class="f14">
                    <strong>上一篇：</strong>上一篇： <a href='./news?id={{ newItem - 1 }}'>万氏筋骨贴所含成分及疗效？ </a> <br />
                    <strong>下一篇：</strong>下一篇： <a href='./news?id={{ newItem + 1 }}'>买了万氏筋骨贴 你知道这些吗？</a>
                </p>
            </div>
        </div>
    </section>



    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
    
<script>
    $(function(){
       
    })
</script>
</body>
</html>