<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width">
    <title>万氏筋骨贴</title>
	<meta content="万氏筋骨贴" name="Keywords">
	<meta content="万氏筋骨贴,治骨养髓,针对肩周炎,颈椎病,类风湿关节炎,膝关节疾病万氏筋骨贴有奇效.跟踪指导建立康复方案,半个疗程试疗效." name="Description">
    <link rel="stylesheet" href="./public/css/reset.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body>
<div class="main">
    <header class="main_head">
        <div class="w top-bg">
        </div>
        <nav>
            <div class="w clearfix">
                <div class="t_logo fl">
                    <img src="./public/images/zu_11.png" alt="万氏筋骨贴字样">
                </div>
                <ul class="clearfix fr">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news" class="hover"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section>
        <div class="main_banner">
            <img src="./public/images/banner2.png" alt="万事筋骨贴banner">
        </div>    
        <div class="w">
            <div class="wenZ">
                <div class="wz">
                    <span class="bread-tap">
                        <a href="/index">首页</a> >
                        <a href='/news'>新闻中心</a> > 
                        <a href='./news?id={{ newItem }}'>“万氏筋骨贴”适用与哪些症状你知道吗？</a>
                    </span>
                </div>
                <h1>“万氏筋骨贴”适用与哪些症状你知道吗？</h1>
                <div class="title-time"><span class="time">2019-01-26 15:14:00</span></div>
                <div class="content clearfix">
                    <span style="font-size:16px;"><span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; 调查显示，随着我国人口的老龄化，我国骨性关节病(颈椎病、腰椎间盘突出症、肩周炎、膝关节骨性关节炎、类风湿性关节炎、强直性脊柱炎、股骨头缺血性坏死)发病率居高不下， 并有加速蔓延的趋势。据统计我国发病人数约为一亿五千万之多，该病的致残率可高达53%。专家疾呼,不能让骨关节病再肆无忌惮地蔓延下去,积极预防和抑制骨关节病，关系到保障 和提高我们每一个人的健康生活质量问题，对提高全民健康素质有着重要意义及现实意义。</span><br />
                    <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                    <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;那么&ldquo;万氏筋骨贴&rdquo;适用与哪些症状你知道吗？</span><br />
                    <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                    <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;&ldquo;腰椎病&rdquo;&mdash;&mdash;腰椎间盘突出、腰椎骨质增生、椎管狭窄、椎体滑脱等。患者常常感到腰痛，坐骨神经痛，腿脚麻木胀痛。 压迫神经会引起腰部疼痛酸困，并沿坐骨神经往一侧或双侧下肢放射，小腿常出现肿痛、麻木、发凉甚至抽筋，坐立行走都非常困难。 压迫马尾神经，病人还会出现排便无力、性功能障碍，甚至下肢瘫痪等。</span><br />
                    <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                    <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;&ldquo;颈椎病&rdquo;&mdash;&mdash;专门针对颈椎间盘突出、椎管狭窄、椎体滑脱增生、肩周炎等，患者常常感到头痛、头晕、脖子僵硬、颈背疼痛， 手指麻木，下肢乏力，行走困难，头晕恶心，视物模糊，握物困难，感觉障碍双下肢麻木无力等。</span><br />
                    <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                    <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp;&nbsp;&ldquo;膝关节病&rdquo;&mdash;&mdash;退行性膝关节病，关节炎，骨刺，滑膜炎，髌骨软化，半月板损伤，股骨头坏死，患者常常感到步履蹒跚，上下楼时关节疼痛不敢使劲， 早晨起床或久坐站起时，关节僵硬，迈不动步，活动时关节有&ldquo;咯吱咯吱&rdquo;的摩擦声，早晨起床时疼痛加重，严重者需扶床边反复几次才能离床行走， 有的患者还会出现关节积水、肿胀甚至变形。</span><br />
                    <br style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 20px;" />
                    <span style="color: rgb(51, 51, 51); font-family: 微软雅黑, &quot;Microsoft YaHe&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">&nbsp; &nbsp; &nbsp; &ldquo;股骨头坏死&rdquo;&mdash;&mdash;早期患者髋关节活动正常或轻微丧失，表现为向某一方向活动障碍，特别是内旋。跛行早期患者由于股骨头内压增高，可有间歇性跛行，休息后好转， 晚期患者由于股骨头塌陷及髋关节半脱位可有持续性跛行。病人由于疼痛及晨僵，常有跛行，晚期由于屈曲、外旋、内收畸形，跛行加重。</span>
                    </span>
                </div>
                <p class="f14">
                    <strong>上一篇：</strong>上一篇：<a href='./news?id={{ newItem - 1 }}'> 万氏筋骨贴效果怎么样 几小时发挥功效？</a> <br />
                    <strong>下一篇：</strong>下一篇：没有了 
                </p>
            </div>
        </div>
    </section>



    <footer id="footer">
        <div class="line">
            <div class="w">
                <ul class="clearfix">
                    <li><a href="/index">网站首页</a></li>
                    <li><a href="/product"><span>产品中心</span></a></li>
                    <li><a href="/news"><span>新闻中心</span></a></li>
                    <li><a href="/linkus"><span>联系我们</span></a></li>
                </ul>
            </div>
        </div>
        <div class="w">
            <div class="bot" style="position:relative;">
                <p>河南奔鸿医疗器械有限公司&nbsp;豫ICP备17039636号-2</p>
                <p>咨询热线：0371-53378120 <br> 邮箱：1005432774@qq.com</p>
                <p>公司地址：郑州市中原区陇海路与桐柏路交叉口凯旋门大厦0207室<br>技术支持： 中冠网科</p>
                <span style="position:absolute;top: 30px;left: 58%;">
                    <img src="./public/images/xianshi.png" alt="" style="max-width:50%;height:auto;">
                </span>
            </div>
        </div>
    </footer>
</div>
<script src="./public/js/jquery-2.1.3.min.js"></script>
<script src="./public/js/swiper.min.js"></script>
    
<script>
    $(function(){
       
    })
</script>
</body>
</html>